<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <div class="container">
            <div class="row">
                <img class="col-lg-8 col-xs-12 mx-auto" src="https://image.flaticon.com/icons/svg/265/265689.svg">
            </div>
            <div class="row">
                <button class="btn btn-info col-lg-12 col-xs-12" type="button" name="button" on-click="incrementar">Cargar datos</button>
                <input class="col-lg-12" type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">
            </div>
            <div class="row">
                <table class="table table-striped col-lg-12 col-xs-12">
                    <thead>
                    <th>ID</th>
                    <th>NombreP</th>
                    <th>Apellido</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>[[prop1]]</td>
                        <td>Enciso</td>
                    </tr>
                    <tr>
                        <td>[[prop2]]</td>
                        <td>Nicole</td>
                        <td>Kidman</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class MiVisor extends Polymer.Element {
            static get is() { return 'mi-visor'; }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: ''
                    },
                    prop2: {
                        type: Number,
                        value: 1109
                    },
                    prop3: {
                        type: String,
                        value: 'Indique su login'
                    }
                };
            }

            incrementar () {
                this.prop2 = this.prop2 + 1;
                console.log(this.prop1);
                console.log(this.prop2);
            }
        }

        window.customElements.define(MiVisor.is, MiVisor);
    </script>
</dom-module>